<head>
    <title>Page Title</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</head>
    <header>
        <nav class="navbar navbar-light fixed-top">
            <div class="container header">
                <a class="navbar-brand" href="#">
                    <img src="https://static.leboncoin.fr/img/logo.svg" width="140" height="40" alt="">
                </a>
                <a href="/"><span>ACCUEIL</span></a>
                <a href="/depose"><span>DÉPOSER UNE ANNONCE</span></a>
                <a href="/offres"><span>OFFRES</span></a>
                <a href="/demandes"><span>DEMANDES</span></a>
                <a href="/particuliers"><span>PARTICULIERS</span></a>
                <a href="/professionels"><span>PROFESSIONELS</span></a>
                <a href='/login'><span>Login</span></a>
                <a href='/logout'><span>Log Out</span></a>
                <a href='/register'><span>Register</span></a>
            </div>
        </nav> 
    </header>