<html>
        <% include partials/header.ejs %>
<body style="background-color:#FAFAFA;">

<div class="container" id="deposerAnnonce">
    <form class="needs-validation" novalidate action="/depose/" method="POST" enctype="multipart/form-data">
        <section class="mb-3">
            <h6 class="sousTitre">Votre annonce</h6>
            <div class="sousForm">
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="type" value="offres" checked>
                        <label class="form-check-label" for="inlineRadio1">Offres</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" value="demandes">
                        <label class="form-check-label" for="inlineRadio2">Demandes</label>
                    </div>  
                    <div class="form-check form-check-inline mb-3 ml-5">
                        <input class="form-check-input" type="radio" name="selection" value="particuliers" checked>
                        <label class="form-check-label" for="inlineRadio1">Particuliers</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selection" value="professionnels">
                        <label class="form-check-label" for="inlineRadio2">Professionnels</label>
                    </div>  
                    <div class="form-group">
                        <label>Titre de l'annonce</label>
                        <input type="text" name="title" class="form-control"  required minlength="5" maxlength="50">
                        <div class="invalid-feedback">
                            Veuillez entrez des informations valide !
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Text de l'annonce</label>
                        <textarea class="form-control" name="description" rows="3" style="height: 200px;" required></textarea>
                        <div class="invalid-feedback">
                            Veuillez entrez des informations valide !
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Prix</label>
                        <input type="number" name="price" class="form-control" required>
                        <div class="invalid-feedback">
                            Veuillez entrez des informations valide !
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Photo</label>
                        <input type="file" multiple=" " name="photo" class="form-control-file" alt="photo">
                        <input type="file" multiple=" " name="photo" class="form-control-file mt-3 mb-3" alt="photo">
                        <input type="file" multiple=" " name="photo" class="form-control-file" alt="photo">
                    </div>
            </div>
        </section>

        <section class="mb-3">
            <h6 class="sousTitre mb-0">Localisation</h6>
            <div class="sousForm pb-2 pt-2">
                    <div class="form-group">
                        <label>Ville ou code postal</label>
                        <input type="text" name="city" class="form-control" required minlength="5" maxlength="20" value="<%= %>" required>
                        <div class="invalid-feedback">
                            Veuillez entrez des informations valide !
                        </div>
                    </div>
            </div>
        </section>  

        <section class="bg-white">
            <h6 class="sousTitre mb-0">Vos informations</h6>
            <div class="sousForm">
            <% if(!isLogin){ %>
                <div class="form-group">
                    <label>Pseudo</label>
                    <input type="text" name="pseudo" class="form-control" required minlength="2" maxlength="15">
                    <div class="invalid-feedback">
                        Veuillez entrez des informations valide !
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" id="mail" class="form-control" required>
                    <div class="invalid-feedback">
                        Veuillez entrez des informations valide !
                    </div>
                </div>
                <div class="form-group">
                    <label>Mot de Passe</label>
                    <input type="text" name="testpassword" id="testPassword" class="form-control" required>
                    <div class="invalid-feedback">
                        Veuillez entrez des informations valide !
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirmer votre mot de passe</label>
                    <input type="text" name="password" id="password" class="form-control" required>
                    <div class="invalid-feedback">
                        Veuillez entrez des informations valide !
                    </div>
                </div>
                <%}%>
                <div class="form-group">
                    <label>Téléphone</label>
                    <input type="text" name="phone" class="form-control" required>
                    <div class="invalid-feedback">
                        Veuillez entrez des informations valide !
                    </div>
                </div> 
            </div>  
        </section>    
</div>  
        <div class="container">
            <button type="submit" class="btn btn-primary btn-lg mt-3 mb-5 text-center" style="width:200px; height:40px;">Valider</button>
        </div>
    </form>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();
</script>

</body>
<% include partials/footer.ejs %>
</html>