<html>
        <% include partials/header.ejs %>
<body style="background-color:#FAFAFA;">

<div class="container">
<div class="container votreAnnonce pr-0 pl-0">
    <h6 class="sousTitre">Votre annonce</h6>
    <div class="sousForm">
        <form action="/deposer" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Titre de l'annonce</label>
                <input type="text" name="title" class="form-control" required minlength="5" maxlength="50">
            </div>
            <div class="form-group">
                <label>Text de l'annonce</label>
                <textarea class="form-control" name="description" rows="3" style="height: 200px;"></textarea>
            </div>
            <div class="form-group">
                <label>Prix</label>
                <input type="number" name="price" class="form-control">
            </div>
            <div class="form-group">
                <label>Photo</label>
                <input type="file" name="photo" class="form-control-file" alt="photo">
            </div>
    </div>
</div>

<div class="container localisation pr-0 pl-0 mb-3">
    <h6 class="sousTitre mb-0">Localisation</h6>
    <div class="sousForm pb-2 pt-2">
            <div class="form-group">
                <label>Ville ou code postal</label>
                <input type="text" name="city" class="form-control">
            </div>
    </div>
</div>  

<div class="container vosInformation pr-0 pl-0">
    <h6 class="sousTitre mb-0">Vos informations</h6>
    <div class="sousForm">
            <div class="form-group">
                <label>Pseudo</label>
                <input type="text" name="pseudo" class="form-control">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="mail" class="form-control">
            </div>
            <div class="form-group">
                <label>Téléphone</label>
                <input type="number" name="phone" class="form-control">
            </div>
            
        </div>  
    </div>    
            <button type="submit" class="btn btn-primary btn-lg mt-3 mb-5" style="width:200px; height:40px;">Valider</button>
        
        
        </form>
</div>
</body>
</html>