<html>
        <% include partials/header.ejs %>
<body style="background-color:#FAFAFA;">

       <a href="/myAds"> <div class="d-inline p-5 bg-primary text-white"></div>
        <div class="p-5 bg-primary text-white">Mes annonces</div></a>

</body>
<% include partials/footer.ejs %>
</html>