/* Font family */
*{
    font-family: 'Open Sans', sans-serif; 
} 

/* Header */

.navbar{
    height: 60px;
    background-color: #E6723D;
}

.header span{
    display: flex;
    font-weight: 600;
    left: 0px;
    color: white;
    font-size: 13px;
    line-height: 60px;
    justify-content: center;
}
.container>a{
    text-decoration: none;
}

.btnConnect{
    background-color: #D8774A;
    height: 60px;
    width: 120px;
}

.btnConnect:hover{
    background-color: white;
    cursor: pointer;
}

.btnConnect span:hover{
    color: #D8774A;
}

.fas{
    color: white;
}

/* Formulaire */

.sousForm{
    background-color: white;
    padding: 10px 15px;
}

.sousTitre{
    height: 40px;
    width: 100%;
    background-color: #666666;
    padding: 10px;
    color: white;
}

#deposerAnnonce section {
    border: 1px solid #CCCCCC;
}

#deposerAnnonce section:first-child {
    margin-top: 150px;
}

.formModify{
    width: 100%;
}

.form-group{
    width: 50%;    
}

/* input:invalid {
    border: 2px dashed red;
} */

/* Liste des annonces */

.annonce{
    padding-top: 200px;
}

.sousContainer{
    width: 80%;
}

.photoImg{
    background-color: #CCCCCC;
    object-fit: cover;
    width: 200px;
    height: 120px;
}

.title{
    color: #4977BA;
}

.city{
    color: black;
}

.price{
    color: #E6723D;
}

.fiche{
    background-color:white;
    padding: 25px;
    border: 1px solid #CCCCCC;
    height: 170px;
}

.fiche:hover{
    background-color: #F2F2F2;
}

.photo{
    width: 200px;
    height: 120px;
    margin-right: 25px;
}

.list-group li a{
    height: 50px;
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-content: center;
    border-bottom: none;
    text-align: center;
}

.list-group a{
    align-items: center;
    /* text-decoration-color: #D8774A; */
    color: black;
    font-weight: 600;
}

.list-group li a:first-child{
    border-right: none;
    
}

.toutes a{
    margin-left: -15px;
    color: #D8774A;
    border-bottom: white;
}

.particuliers{
    background-color: #E6E6E6;
}

.list-group li a:last-child{ 
    width: 220px;
    border-right: 1px solid #CCCCCC;
}

.professionnels{
    /* border-right: 1px solid #CCCCCC; */
    background-color: #E6E6E6;
}

.professionnels:hover{
    background-color: white;
    /* border-right: 1px solid #CCCCCC; */
    color: #D8774A;
}

.particuliers:hover{
    background-color: white;
    color: #D8774A;
}

/*  Annonce */

.photoContainer {
    height: 500px;
    width: 100%;
    padding: 15px;
    border-bottom: solid 1px #CCCCCC;
}
.photoContainer img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.adContainer{
    background-color:white; 
    border: 1px solid #CCCCCC;
    padding: 20px;
}

.adContainer h2,
.adContainer h3,
.adContainer p {
    padding: 0 15px;
}

.adContainer h3 {
    margin: 15px 0;
}


.adPrice{
    background-color:#F2F2F2; 
    padding: 10px;  
    width: 170px;
    height: 40px; 
}
.adsPrice{
    margin-left: 50px;
    padding: 5px;
    font-weight: bold;
    color:  #E6723D; 
}

.adsCity{
    margin-left: 50px;
    padding: 5px;
}
.adDescription{
    padding: 20px;   
}

.phoneNumber{
    display: none;
}

/* .photoContainer img{
    display: block;
} */

.photoContainer img:first-child{
    display: block;
}

.photoContainer img:last-child{
    display: none;
}

.photoContainer img:nth-child(2){
    display: none;
}

.footerConnexion{
    flex-direction: column;
    
}
